---
import { slide } from "astro:transitions";
import Navbar from '../Navbar';
import AnimatedSection from '../AnimatedSection';
import Logo from '../Logo';
import Tagline from '../Tagline';
import ActionButtons from '../ActionButtons';
const { navLinks, motto } = Astro.props;
const actionKeys = ['booking', 'work'];
---

<AnimatedSection ids="hero" styles='p-4' client:load transition:animate={slide({ duration: "0.1s" })}>
  <Navbar navLinks={navLinks} client:load transition:persist/>
  <div class="flex flex-col relative h-full overflow-auto overflow-x-hidden max-w-screen mx-auto">
    <div class="flex-1 flex items-center justify-center my-10 lg:my-14">
      <div
        class="flex -mt-6 md:flex-row gap-1 md:justify-between items-center w-full max-w-7xl"
      >
        <div 
          class='z-10 mx-4 text-primary w-[100%] md:w-[60%] flex flex-col gap-2 justify-around'>        
          <div class="lg:ml-2 badge badge-outline badge-secondary dark:badge-info text-xs md:text-sm font-mono uppercase">
            boutique <span class='font-mono'><abbr title="Everything JavaScript, Node.js, TS, bun...">JS</abbr></span> studio
          </div>   
          <div class='intro-text-box'>
            <h2
              class='bg-clip-text text-fill-transparent md:text-fill bg-linear-to-r/shorter from-secondary from-17% via-white via-80% to-secondary md:via-secondary break-keep font-mono uppercase leading-[4rem] md:leading-[6rem] xl:leading-[8rem] z-40 font-bold text-[2.8rem] md:text-[5rem] lg:text-[6rem] xl:text-[7rem] [text-shadow:0_1px_1px_rgba(0,0,0,0.05)]'
            >
              {motto}
            </h2>
          </div>
          <Tagline client:load/>
        </div>
        <div class='absolute isolate -right-55 md:-right-0 z-0 md:flex md:relative md:items-center md:justify-center'>
          <div class="hidden lg:block animate-tilt absolute inset-0 bg-radial-[at_50%_50%] from-base-100 via-primary/20 to-primary/80 to-90%  z-10 rounded-full blur-xl h-[400px] lg:h-[500px]" />
          <div class="hidden lg:block -rotate-12 animate-diagonal absolute inset-0 bg-radial-[at_50%_50%] from-transparent via-secondary/20 dark:via-accent/20 to-90% z-10 rounded-full blur-2xl h-[400px] lg:h-[500px]" />
          <Logo className="z-20 h-[350px] lg:h-[450px] mt-4" />
        </div>
      </div>
    </div>
    <div class="fixed bottom-4 left-4 right-4 z-10 flex-none p-2 bg-transparent">
      <ActionButtons client:only="react" actions={actionKeys} />
    </div>
  </div>
</AnimatedSection>