---
import { slide } from "astro:transitions"
import ActionButtons from "../ActionButtons"
import { type actionKeys } from "../ActionButtons"
import AnimatedSection from "../AnimatedSection"
import Logo from "../Logo"
import Navbar from "../Navbar"
import Tagline from "../Tagline"

const { navLinks, motto } = Astro.props
const actionButtonsKeys = ["booking", "work"] as unknown as actionKeys[]
---

<AnimatedSection ids="hero" styles='p-4' client:load transition:animate={slide({ duration: "0.1s" })}>
  <Navbar navLinks={navLinks} client:only="react" transition:persist/>
  <div class="flex flex-col relative h-full overflow-auto overflow-x-hidden max-w-screen mx-auto">
    <div class="flex-1 flex items-center justify-center my-10 lg:my-14">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center w-full max-w-7xl px-6 lg:px-10">
        <!-- Left: Content -->
        <div class='z-10 flex flex-col gap-6 lg:gap-10'>        
          <div class="badge badge-outline badge-secondary dark:badge-info text-xs md:text-sm font-mono uppercase">
            boutique <span class='font-mono'><abbr title="Everything JavaScript, Node.js, TS, bun...">JS</abbr></span> studio
          </div>   
          <h2 class='bg-clip-text text-fill-transparent md:text-fill bg-linear-to-r/shorter from-secondary from-17% via-white via-80% to-secondary md:via-secondary font-mono uppercase leading-tight lg:leading-tight font-bold text-5xl md:text-6xl lg:text-7xl xl:text-8xl'>
            {motto}
          </h2>
          <Tagline client:load/>
        </div>
        
        <!-- Right: Logo -->
        <div class='flex lg:justify-end items-center absolute -right-45 lg:right-0 lg:relative'>
          <Logo className="h-[300px] md:h-[400px] lg:h-[500px]" />
        </div>
      </div>
    </div>
    <div class="fixed bottom-8 lg:bottom-12 left-6 right-6 z-10 flex-none  bg-transparent">
      <ActionButtons client:load actions={actionButtonsKeys as actionKeys[]} />
    </div>
  </div>
</AnimatedSection>